.git
.idea
.vscode
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.phpunit.result.cache
database/database.sqlite
tests
docs
*.md
.dockerignore
Dockerfile
